# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/nginx
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
